.site{

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	grid-template-areas: "head head head head head"
	"pretraga"
	". Lista1 Slika Lista2 ."
	"footer footer footer footer footer";

}

body{
	color: #05386B;
	background-image: url(pozadina.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.naslov{
	grid-area: head;
}
.head{
  	

  	margin-top: 0;
  	padding: 0;
  	height: 100%;

  }

.lista1{
	grid-area: Lista1;
}
#Naslov{
	font-size: 35px;
	position: static;
	text-align: center;
	margin-right: 70mm;
	
	width: 100%;
	
}
#logo{
	position: absolute;
	float:left;
	float:top;
	margin-top: 0;

}

#meni{
	margin-top: 0mm;
	border-top: 4px ridge rgba(42,164,244,0.55);
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	font-size: 18px;
	border-radius: 18px;

}

#meni li {
  display: inline;
  list-style-type: none;
  padding-right: 15mm;
  margin-left: -10mm;

}

.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height:100%; 
	color: black;


}
#lista1{
	margin-top: 10mm;
	width: 50%;
	height: 100%;
	float: left;
	font-size: 18px;
	display: block;
	/*border: 2px outset rgba(21,144,255,0.24);
	border-radius: 40px 40px 24px 28px;*/

}

#lista2{
	margin-top: 10mm;
	width: 50%;
	height: 100%;
	float:left;
	font-size: 18px;
	/*border: 2px outset rgba(21,144,255,0.24);
	border-radius: 40px 40px 24px 28px;*/
}
.footer{
	
	
    clear: both;
    position:static;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 20mm;
    margin-top: 15mm;
    text-align: center;
    vertical-align: middle;
	
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	border-radius: 40px;



  }

  .ftext{
  	font-style: italic;
  	
  }
#tabela1{
	border:2px black;
	display: block;
}
.tg  {
	
	border-spacing:0;
	border-width: 2px;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:8px 20px;
	border-style:dashed;
	border-width:1.5px;
	overflow:hidden;
	word-break:normal;
	border-style: dashed;
	border-color:black;
	border-width: 2px;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:8px 20px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
	border-style: solid;

}
.tg .tg-0x09{
	border-style: solid;
	border-width: 2px;
	background-color:#9b9b9b;
	text-align:left;
	vertical-align:top;
}
.tg .tg-w2zk{
	border-style: solid;
	border-width: 2px;
	font-family:serif;
	background-color:#9b9b9b;
	text-align:center;
	vertical-align:top;
}
.tg .tg-2nhx{
	border-style: solid;
	border-width: 2px;
	border-bottom-width: 2px;
	background-color:#9b9b9b;
	text-align:center;
	vertical-align:top;
}
.tg .tg-73oq{
	border-top: none;
	border-color:#000000;
	text-align:left;
	border-width: 2px;
	vertical-align:top;
}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top;
	border-top: none;
	border-width: 2px;
}
.pnaziv{
	border-style: solid;
	
	border-width: 2px;
}
#prvacol{
	border-bottom: none;
	border-width: 2px;
}
#zadnjacol{
	border-bottom: none;
	border-width: 2px;
}
#opcol{
	border-right: none;
	border-width: 2px;
	border-left: none;
}

.tg2 {
	border-collapse:collapse;
	border-width: 2px;
	border-spacing:0;
	margin-bottom: 5mm;
	
}

.tg2 td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:2px;
	overflow:hidden;
	word-break:normal;
	border-color:#4451f7;
}
.tg2 th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:2px;
	overflow:hidden;
	word-break:normal;
	border-color:#4451f7;
}
.tg2 .tg-3bzz2{
	background-color:#34ff34;
	color:#036400;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-f4n22{
	background-color:#f8a102;
	color:#ce6301;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-6bfr2{background-color:#9b9b9b;
	color:#000000;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-3lak2{
	background-color:#34ff34;
	color:#036400;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-fdxn2{
	background-color:#f8a102;
	color:#ce6301;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-sh4c2{
	border-color:#4451f7;
	text-align:center;
	vertical-align:top;
	border-width: 2px;
}
.tg2 .tg-baqh2{
	border-color:#4451f7;
	text-align:center;
	vertical-align:top;
	border-width: 2px;
}
.tg2 .tg-wxaj2{
	background-color:#ffce93;
	color:#f56b00;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-x6l42{
	background-color:#ffce93;
	color:#f56b00;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-lqy62{
	text-align:right;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-6fh42{
	background-color:#9b9b9b;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-9cpy2{
	background-color:#9b9b9b;
	text-align:left;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-2nhx2{
	background-color:#9b9b9b;
	text-align:center;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-0lax2{
	text-align:left;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-tf2e2{
	text-align:left;
	vertical-align:top;
	border-color:#4451f7;
	border-width: 2px;
}
.tg2 .tg-jjut2{
	text-align:right;
	border-color:#4451f7;
	vertical-align:top;
	border-width: 2px;
}
.tg2 .tg-gbyp2{
	background-color:#38fff8;
	color:#00009b;
	border-color:#4451f7;
	text-align:center;
	vertical-align:top;
	border-width: 2px;
}
.tg2 .tg-gl9a2{
	border-color:#4451f7;
	background-color:#38fff8;
	color:#00009b;
	text-align:center;
	vertical-align:top;
	border-width: 2px;
}
#prazna{


	border-left-color: #4451f7;
	border-left-width: 2px;
	border-right-style:none;
	border-top-style: none;
	border-bottom-color: #4451f7;
	border-right-color:#4451f7;
	border-width: 2px;
}

#pcol{
	border:1px solid black;
	border-bottom: none;
	border-color: #4451f7;
	border-width: 2px;


}
#dan{
	border-top-style: dotted;
	border-right-style: dotted;
	border-left-style: dotted;
	border-width: 2px;
}
#danp{
	border-top-style: dotted;
	border-right-style: solid;
	border-left-style: dotted;
	border-width: 2px;	
}

.trazilica{
	grid-area: pretraga;
	margin-left: 100px;
	margin: 5px;
	display: block;
}
.dt{
	display: none;
}
.drugag{
	display:;
}
.prvag{
	display: ;
}
