.site{

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: "head head head head head"
	". body ."
	"footer footer footer footer footer";

}

body{
	color: #05386B;
	background-image: url(pozadina.jpg);
	background-repeat: no-repeat;
	background-size: cover;


}
.body{
	text-align: center;
	font-size: 20px;
}
.naslov{
	grid-area: head;
}
.head{
  	

  	margin-top: 0;
  	padding: 0;
  	height: 100%;

  }


#Naslov{
	font-size: 35px;
	position: static;
	text-align: center;
	margin-right: 70mm;
	
	width: 100%;
	
}
#logo{
	position: absolute;
	float:left;
	float:top;
	margin-top: 0;

}

#meni{
	margin-top: 0mm;
	border-top: 4px ridge rgba(42,164,244,0.55);
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	font-size: 18px;
	border-radius: 18px;

}

#meni li {
  display: inline;
  list-style-type: none;
  padding-right: 15mm;
  margin-left: -10mm;

}

.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height:500px; 

}


.footer{
	
	
    clear: both;
    position:static;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 20mm;
    margin-top: 8mm;
    text-align: center;
    vertical-align: middle;
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	border-radius: 40px;

  }

  .ftext{
  	font-style: italic;
  	
  }

#posalji{
	width:25mm;
	
}
#ime{
	margin-left: 5mm;
	width: 50mm;
}
#mail{
	margin-left: 6.5mm;
	width: 50mm;
}
#select{
	margin-left: 16mm;
	width: 51mm;
}
.radio{
	margin-right: 3mm;
	margin-right: 3mm;
}
#radioda{
	margin-left: 42mm;

}
#komentar{
	margin-left: 19mm;
	width: 50mm;
}
#dodatak{
	margin-left: 14mm;
	margin-right: -12mm;
}
#posalji{
	margin-left: 4mm;
}
#forma{
	margin-top: 15mm;
	text-align: center;
}
#velform{
	border: 5px groove rgba(82,202,255,0.63);
	border-radius: 360px;
	border-left: none;
	border-right: none;
}
