.site{

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: "head head head head head"
	". Lista1 Slika Lista2 ."
	"footer footer footer footer footer";

}

body{
	color: #05386B;
	background-image: url(pozadina.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.naslov{
	grid-area: head;
}
.head{
  	

  	margin-top: 0;
  	padding: 0;
  	height: 100%;

  }


#Naslov{
	font-size: 35px;
	position: static;
	text-align: center;
	margin-right: 70mm;
	
	width: 100%;
	
}
#logo{
	position: absolute;
	float:left;
	float:top;
	margin-top: 0;

}

#meni{
	margin-top: 0mm;
	border-top: 4px ridge rgba(42,164,244,0.55);
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	font-size: 18px;

}

#meni li {
  display: inline;
  list-style-type: none;
  padding-right: 15mm;
  margin-left: -10mm;

}

.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height:100%; 


}


.footer{
	
	
    clear: both;
    position:static;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 20mm;
    margin-top: 8mm;
    text-align: center;
    vertical-align: middle;


  }

  .ftext{
  	font-style: italic;
  	
  }

.okvir{
	padding-top: 20px;
  display: grid;
  grid-template-columns: 1000px;
 
  grid-column-gap: 150px;
  grid-row-gap: 10px;
  
  align-items: center;

}
.lab{
  padding-left: 200px;
  margin-left: 150px;
  text-align: center;
  width: 50%;

}
.tg{
	border-collapse: collapse;
	border:1px solid black;
	text-align: center;
	background: rgba(176, 224, 230, 0.6); 
}
.tg td,th,tr{
	border:1px solid black;
}
.slika{
	
	object-fit: contain;
	width: 250px;
	height: 200px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.lista{
	text-align: left;
	font-weight: normal;
	padding-right: 10px;
}