.site{

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: "head head head head head"
	". Lista1 Slika Lista2 ."
	"footer footer footer footer footer";

}

body{
	color: #05386B;
	background-image: url(pozadina.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.naslov{
	grid-area: head;
}
.header{
  	

  	margin-top: 0;
  	padding: 0;
  	height: 100%;

  }

.lista1{
	grid-area: Lista1;
}
#Naslov{
	font-size: 35px;
	position: static;
	text-align: center;
	margin-right: 70mm;
	
	width: 100%;
	 
}
#logo{
	position: absolute;
	float:left;
	float:top;
	margin-top: 0;

}

#meni{
	margin-top: 0mm;
	border-top: 4px ridge rgba(42,164,244,0.55);
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	font-size: 18px;

}

#meni li {
  display: inline;
  list-style-type: none;
  padding-right: 15mm;
  margin-left: -10mm;

}

.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height:100%


}

.profesori{

  display: grid;

  grid-template-columns: 200px 200px;

   grid-column-gap: 150px;

  grid-row-gap: 50px;
  padding-top: 50px;

  padding-bottom: 120px;
 margin-left: -50px;

}



.okvir{

  float: left;

  padding-left: 200px;

  margin-left: 230px;

  width: 50%;

}

.footer{
	
	
    clear: both;
    position:static;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 20mm;
    margin-top: 50mm;
    text-align: center;
    vertical-align: middle;


  }

  .ftext{
  	font-style: italic;
  	
  }

  .tabelaProf{
  	border-collapse: collapse;
  	border:1px solid black;
  	width: 300px;
  	height: 300px;
	background-color:lightblue;

  }
  
  
  .tabelaProf tr{
  	border:1px solid black;
  	text-align: center;
  }
 
.asistenti{

  display: grid;

  grid-template-columns: 200px 200px 200px;

    grid-column-gap: 150px;

  grid-row-gap: 50px;

  padding-bottom: 120px;

  align-items: center;
  margin-left: -250px;

  

}

 .tabelaAss{
  	border-collapse: collapse;
  	border:1px solid black;
  	width: 300px;
  	height: 300px;
	background-color:rgb(230,230,250);


  }
  
  
  .tabelaAss tr{
  	border:1px solid black;
  	text-align: center;
  }
  .slike{
  	width: 108px;
  	height: 192px;
  	border:1px solid black;
    margin:5mm;
    z-index: 1;
    position: relative;
  }
  #popup{
    display: none;
    position: absolute;
    transform: scale(1.75);
  }
.s{
  height: 200px;
}