.site{

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: "head head head head head"
	". Lista1 Slika Lista2 ."
	"footer footer footer footer footer";

}
body{
	color: #05386B;
	background-image: url(pozadina.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.naslov{
	grid-area: head;
}
.head{
  	

  	margin-top: 0;
  	padding: 0;
  	height: 100%;

  }

.lista1{
	grid-area: Lista1;
}
#Naslov{
	font-size: 35px;
	position: static;
	text-align: center;
	margin-right: 70mm;
	
	width: 100%;
	 
}
#logo{
	position: absolute;
	float:left;
	float:top;
	margin-top: 0;

}

#meni{
	margin-top: 0mm;
	border-top: 4px ridge rgba(42,164,244,0.55);
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	font-size: 18px;
	border-radius: 18px;

}

#meni li {
  display: inline;
  list-style-type: none;
  padding-right: 15mm;
  margin-left: -10mm;

}

.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height:500px; 

}

#lista1{
	width: 33%;
	height: 100%;
	float: left;
	font-size: 18px;
	border: 2px outset rgba(21,144,255,0.24);
	border-radius: 40px 40px 24px 28px;

}
#slika{
	width: 33%;
	height: 100%;
	float: left;
}

#lista2{
	width: 33%;
	height: 100%;
	float:left;
	font-size: 18px;
	border: 2px outset rgba(21,144,255,0.24);
	border-radius: 40px 40px 24px 28px;
}

.predmeti{

	list-style-type: none;



}
li.pr:before{

	background-image: url(knjiga.jpg);
  	background-size: 20px 20px;
  	padding-left: 20px;
    margin-left: 5px;
    content: "";
}


li.pr2:before{

	background-image: url(racunar.jpg);
  	background-size: 20px 20px;
  	padding-left: 20px;
    margin-left: 5px;
    content: "";
    line-height: 6mm;
}
#fakultet{
	margin-top: 2.5cm;
	width: 97%;
	border: 8px inset rgba(20,154,164,0.74);
	border-radius: 18px 18px 18px 18px;

	
}

.footer{
	
	
    clear: both;
    position:static;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 20mm;
    margin-top: 8mm;
    text-align: center;
    vertical-align: middle;
    border-bottom: 4px ridge rgba(42,164,244,0.55);
	border-radius: 40px;


  }

  .ftext{
  	font-style: italic;
  	
  }


