.site{

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: "head head head head head"
	". Lista1 Slika Lista2 ."
	"footer footer footer footer footer";

}

body{
	color: #05386B;
	background-image: url(pozadina.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.naslov{
	grid-area: head;
}
.head{
  	

  	margin-top: 0;
  	padding: 0;
  	height: 100%;

  }


#Naslov{
	font-size: 35px;
	position: static;
	text-align: center;
	margin-right: 70mm;
	
	width: 100%;
	
}
#logo{
	position: absolute;
	float:left;
	float:top;
	margin-top: 0;

}

#meni{
	margin-top: 0mm;
	border-top: 4px ridge rgba(42,164,244,0.55);
	border-bottom: 4px ridge rgba(42,164,244,0.55);
	font-size: 18px;

}

#meni li {
  display: inline;
  list-style-type: none;
  padding-right: 15mm;
  margin-left: -10mm;

}

.body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height:300px; 

}

.footer{
	
	
    clear: both;
    position:static;
    width: 100%;
    bottom:0;
    left: 0;
    right: 0;
    height: 20mm;
    margin-top: 8mm;
    text-align: center;
    vertical-align: middle;
    margin-left: 50mm;
    margin-top: 50mm;
    margin-bottom: 5mm;


  }

  .ftext{
  	font-style: italic;
  	
  }

  .okvir{

    display: grid;

    grid-template-columns: 1000px;

    grid-row-gap: 50px;

    align-items: center;

    float: left;


}

.predmet{

    text-align: center;

    padding-left: 10px;

    margin-left: 50px;

    width: 90%;

    font-size: large;

    border:1px solid black; 

	padding: 1em;

	background: rgba(176, 224, 230, 0.4); 
	margin-top: 10mm;


}
.tg{
	border:1px solid black;
	background: rgba(176, 224, 230, 0.8);
	border-collapse: collapse;

}

.tg th,tr,td{
	border:1px solid black;
}
.tg td{
	font-size: 15px;
	text-align: center;
}
.tg th{
	text-align: center;
}

.tg tr,td,th{
	padding: 2mm;
}
.naslovi{
	font-weight: bold;
	font-size: 18px;
	padding-top: -50px;

}
ul{
	text-align: left;
}
.prva{
	
	width: 900px;
}
.druga{
	
	width: 900px;
}
